<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div>
  <button class="normal" (click)='onStart()'>Start</button>
</div>

<div className="game">
  <div className="game-board">
    <div>
      <div class="board-row" *ngFor="let cardRow of gameState.getCards()">
        <app-card *ngFor="let card of cardRow" [card]="card">
        </app-card>
      </div>
    </div>
  </div>
  <div className="game-info">
    <app-timer></app-timer>
  <div *ngIf="gameState.isGameOver()">
    <p>Congratulations! You finsihed the game in {{gameState.getTimer().display()}}.</p>
    <button class="normal" (click)='onReset()'>Reset</button>
  </div>
  </div>
</div>

<router-outlet></router-outlet>
